:root {
    --primary: beige;
    --secondary: white;
    --text-color: brown;
    --light: tan;


}

* {
    margin: 0;
    padding: 0;
}
header  {
    margin: 15px;
    padding: 15px;
    border:outset var(--light);
    background-color: var(--secondary) 
}
h1 {
    text-decoration: underline;
    font-size: 50px;

}
nav {
    display: block;
    border: solid;
    text-align: end;
    border:outset var(--light);
    background-color: var(--secondary);
    font-size: 30px; 
    
}

body{
   
    
    background-color: var(--light);
    line-height: 1.5;
    border: outset var(--seconday);
    font-family: 'Times New Roman', Times, serif;
}
.hero-banner {
    font-size: 88px;
    font-weight: bold;
    background-image: url(Kaian-3.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    color: var(--light);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

p {
    font-size: 27px;
    text-align: center;
}

.baby-jesus {
    font-size: 2vw;
}
.content img {
    display: block;
    margin: 20px auto;
    max-width: 27%;
    align-self: center;
    border-radius: 10px;
    transform: rotate(3deg);
    box-shadow: 10px 10px;
}


.wrap {
    display: flex;
    border:outset var(--light);
    background-color: var(--secondary);
    flex-direction: column;
    margin: 10px;
    border: solid;
}


/* text on the side of projects */
.information-1, .information-2, .information-3  {
    text-decoration: underline;
    font-size: xx-large;
    margin: 10px;
    padding: 30px;
    display: block;
    align-self: center;
}
/* The whole Box kaian */
.pictures {
    display: flex;
    background-color: var(--secondary);
    flex-direction: column;
    justify-content: flex-start;
}
    /* this is the pictures in the box */
.img {
    display: inline;
    margin: 20px auto;
    max-width: 10%;
    padding: 3px;
    border: solid;
}
.img:hover {
    transform: scale(120%);
}

.pictures a {
    display: contents;
}

.content-2{
    text-align: center;
    font-size: 30px;
    border: solid;
    background-color: var(--secondary);
    margin: 10px;
    
}


/* the Footer with contacts */
h3 {
    text-align: center;
    font-size: 30px;
}
footer {
    text-align: center;
    font-size: 30px;
    border: solid;
    background-color: var(--secondary);
    margin: 10px;
}
